section.login
	form.login-form
		label Email
			input(type='email' placeholder='Email')
		label Password
			input(type='password' placeholder='Password')
		label Age
			input(type='number' placeholder='Type number')
		
		label Remember me
			input(type='checkbox')
		
		button.login__sign-in(type='submit') Sign in
		
	
	
